[submodule "src/mumble"]
	path = src/mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api/
[submodule "src/nexus"]
	path = src/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api/
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/RaidcoreGG/RCGG-Scripts
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/RaidcoreGG/imgui
