[submodule "src/mumble"]
	path = src/mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api/
[submodule "src/nexus"]
	path = src/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api/
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/RaidcoreGG/RCGG-Scripts
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/RaidcoreGG/imgui
[submodule "src/arcdps"]
	path = src/arcdps
	url = https://github.com/RaidcoreGG/RCGG-lib-arcdps-api
[submodule "src/RTAPI"]
	path = src/RTAPI
	url = https://github.com/RaidcoreGG/GW2-RealTime-API-Releases
[submodule "src/Util"]
	path = src/Util
	url = https://github.com/RaidcoreGG/RCGG-Utils
[submodule "src/arcdps_ue"]
	path = src/arcdps_ue
	url = https://github.com/Krappa322/arcdps_unofficial_extras_releases
